/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #27272c;
  } */
  
  button1 {
    position: relative;
    margin-top: 10px;
    background: #444;
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: 0.2s;
  }
  
  button1:hover {
    letter-spacing: 0.2rem;
    padding: 0.7rem 1.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  button1::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: white;
  }
  
  button1 span {
    position: relative;
    z-index: 1;
  }
  button1 i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  button1 i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #ef8236;
    transition: 0.2s;
  }
  
  button1:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  button1 i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #ef8236;
    transition: 0.2s;
  }
  
  button1:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }
  